<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.securicam" >

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SecuriCam"
        tools:targetApi="31" >
        <activity
            android:name=".ui.pages.notification.NotificationActivity"
            android:exported="false"
            android:parentActivityName=".ui.pages.clientmain.ClientMainActivity" />
        <activity
            android:name=".ui.pages.searchcamera.SearchCamActivity"
            android:exported="false"
            android:parentActivityName=".ui.pages.clientmain.ClientMainActivity"/>
        <activity
            android:name=".ui.pages.clientdetail.ClientDetailActivity"
            android:exported="false"
            android:parentActivityName=".ui.pages.clientmain.ClientMainActivity"/>
        <activity
            android:name=".ui.pages.disconnected.DisconnectedActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pages.requestconnection.RequestConnectToCamActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pages.detailnotification.DetailClientNotification"
            android:exported="false" />
        <activity
            android:name=".ui.pages.detailconection.DetailConnectionActivity"
            android:exported="false"
            android:parentActivityName=".ui.pages.cameramain.CameraMainActivity" />
        <activity
            android:name=".ui.pages.detailrequestpair.DetailRequestPairActivity"
            android:exported="false"
            android:parentActivityName=".ui.pages.requestpair.RequestPairActivity" />
        <activity
            android:name=".ui.pages.requestpair.RequestPairActivity"
            android:exported="false"
            android:parentActivityName=".ui.pages.cameramain.CameraMainActivity" />
        <activity
            android:name=".ui.pages.observe.ObserveActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pages.cameramain.CameraMainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pages.clientmain.ClientMainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pages.register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pages.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pages.splash.SplashScreenActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>